*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

.wrapper-inner {
  max-width: 1131px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    content: "";
    z-index: -1;
    background-size: cover;
  }

  &::before {
    top: 0;
    height: 192px;
    background-position: bottom center;
  }

  &::after {
    bottom: 0;
    height: 136px;
    background-position: top center;
  }

  &--v1 {
    &::before {
      background-image: url("../images/pattern_01_v1.png");
    }

    &::after {
      background-image: url("../images/pattern_02_v1.png");
    }
  }

  &--v2 {
    &::before {
      background-image: url("../images/pattern_01_v2.png");
    }

    &::after {
      background-image: url("../images/pattern_02_v2.png");
    }

    .header {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.header {
  padding: 114px 60px 0;
}

.header-logo {
  width: 250px;
}

.pw-1-feature {
  padding: 0 30px;

  &__row {
    display: flex;
    gap: 13px;
  }

  &__col {
    width: 25%;
    height: 135px;
    background: url("../images/red-blob.png") no-repeat center center / 100% 100%;
    display: flex;
    align-items: center;

    &:nth-child(2n+1) {
      background-image: url("../images/inverse-blob.png");
    }
  }

  &__content {
    width: 100%;
    color: #fff;
    text-align: right;
  }
}